body  {

    background-image: url("coffee.jpg");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a17c45;
}

li {
    float: left;
    font-family: arial, sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rosybrown;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #a17c45;
}

h1 {

    color: white;
}

div {

    width: 100%;
    background-color: #a17c45;
    font-family: arial, sans-serif;
}

a {
    font-family: arial, sans-serif;
}